.tags-wrapper{
    display: grid;
    gap:2rem;
    padding-bottom: 3rem;
    margin-top: 75px;
}

.tag{
    background: var(--grey-500);
    border-radius: var(--borderRadius);
    text-align: center;
    color: var(--white);
    transition: var(--transition);
}

.tag:hover{
    background: var(--primary-500);
}

.tag h5, .tag p{
    margin-bottom: 0;
}

.tag h5{
    font-weight: 600;
}

.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width: 576px) {
    .tags-wrapper{
        grid-template-columns: repeat(3,1fr);
    }   
}