.featured-title{
    text-align: center;
}

.about-page h2{
    text-transform: none;
    font-weight: bold;
}

.about-page{
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
    margin-top: 75px;
}

.about-img{
    border-radius: var(--borderRadius);
    height: 300px;
}

@media screen and (min-width:992px) {
    .about-page{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
    }    

    .about-img{
        height: 100%;
    }
}