<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-center">
          <div class="nav-header">
            <form action="/home" method="post">
              <button class="nav-logo" style="background: transparent; border: transparent;">
                <img src="../assets/recipes/Foodism.com.png" alt="Foodism.com">
                <div class="heading">Foodism.com</div>
              </button>
            </form>
            <button type="button" class="btn nav-btn">
                <i class="fas fa-align-justify"></i>
            </button>
          </div>
          <div class="nav-links show-links">
            <form action="/home" method="post"><button class="nav-link" style="background: transparent;">HOME</button></form>
            <form action="/about" method="post"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
            <form action="/tags" method="post"><button class="nav-link nav-button adjust">TAGS</button></form>
            <form action="/recipes" method="post"><button class="nav-link nav-button adjust">RECIPES</button></form>
            <div class="nav-link contact-link">
              <form action="/contact" method="post"><button class="btn">contact</button></form>
            </div>
          </div>
        </div> 
      </nav>
    <main class="page">
      <section class="recipes-container">
        <div class="tags-container">
          <h4>Recipes</h4>
          <div class="tags-list">
            <a href="tag-template.html">Chicken (1)</a>
            <a href="tag-template.html">Breakfast (2)</a>
            <a href="tag-template.html">Carrots (3)</a>
            <a href="tag-template.html">Food (4)</a>
          </div>
        </div>
        <div class="recipes-list">
          <a href="single-recipe.html" class="recipe">
            <img src="../assets/recipes/recipe-1.jpeg" alt="food" class="img recipe-img">
            <h5>carne asada</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <a href="single-recipe.html" class="recipe">
            <img src="../assets/recipes/recipe-2.jpeg" alt="food" class="img recipe-img">
            <h5>Greek Ribs</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <a href="single-recipe.html" class="recipe">
            <img src="../assets/recipes/recipe-3.jpeg" alt="food" class="img recipe-img">
            <h5>Vegetable Soup</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <a href="single-recipe.html" class="recipe">
            <img src="../assets/recipes/recipe-4.jpeg" alt="food" class="img recipe-img">
            <h5>Banana pancakes</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
        </div>
      </section>
    </main>
      <footer class="page-footer">
        <p>&copy; <span id="date">2022</span>
        <span class="footer-logo">
          Foodism.com
        </span>
      Built by Aaron Nazareth and Aaron Dsouza</p>
      </footer>
  </body>
  <script src="../js/app.js"></script>
</html>
