<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/tags.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-center">
          <div class="nav-header">
            <form action="/home" method="post">
              <button class="nav-logo" style="background: transparent; border: transparent;">
                <img src="../assets/recipes/Foodism.com.png" alt="Foodism.com">
                <div class="heading">Foodism.com</div>
              </button>
            </form>
            <button type="button" class="btn nav-btn">
                <i class="fas fa-align-justify"></i>
            </button>
          </div>
          <div class="nav-links show-links">
            <form action="/home" method="post"><button class="nav-link" style="background: transparent;">HOME</button></form>
            <form action="/about" method="post"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
            <form action="/tags" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">TAGS</button></form>
            <form action="/recipes" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">RECIPES</button></form>
            <div class="nav-link contact-link">
              <form action="/contact" method="post"><button class="btn">contact</button></form>
            </div>
          </div>
        </div> 
      </nav>
        <main class="page">
          <section class="tags-wrapper">
            <a href="tag-template.html" class="tag">
              <h5>Chicken</h5>
              <p>1 recipe</p>
            </a>
            <a href="tag-template.html" class="tag">
              <h5>Breakfast</h5>
              <p>2 recipe</p>
            </a>
            <a href="tag-template.html" class="tag">
              <h5>carrots</h5>
              <p>3 recipe</p>
            </a>
            <a href="tag-template.html" class="tag">
              <h5>dinner</h5>
              <p>4 recipe</p>
            </a>
            <a href="tag-template.html" class="tag">
              <h5>food</h5>
              <p>1 recipe</p>
            </a>
          </section>
        </main>
          <footer class="page-footer">
            <p>&copy; <span id="date">2022</span>
            <span class="footer-logo">
              Foodism.com
            </span>
          Built by Aaron Nazareth and Aaron Dsouza</p>
          </footer>
    
  </body>
  <script src="../js/app.js"></script>
</html>
