.contact-form{
    width:100%;
    margin:0;
}

.contact-container{
    display: grid;
    gap:2rem 3rem;
    padding-bottom: 3rem;
    margin-top: 75px;
}

@media screen and (min-width:992px) {
    .contact-container{
        grid-template-columns: 1fr 450px;
        align-items: center;
    }
}

.contact-info a{
    text-decoration: none;
}

i{
    color: black;
    font-size: 40px;
    margin-right: 10px;
}

i:hover{
    color: red;
    background-color: transparent;
    border-radius: 20px;
}

